a:hover {
  text-decoration: underline;
}

.text-gmail {
  font-family: Quicksand, sans-serif;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.title-1 {
  font-family: Quicksand, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  line-height: 22px;
  color: #000000;
}

.title-submenu-dropdown {
  font-family: Quicksand, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: right;
  color: #000000;
}

.box-shadow-1 {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.046805);
}

.bar-top-1 {
  mix-blend-mode: normal;
  opacity: 0.1;
  border-top: 1px solid #979797;
}

.btn-link {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #25b138;
  transition: background-color 0.3s linear;
}
.icon {
  fill: #797979;
  -webkit-transition: fill 0.3s linear;
  -o-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}

.icon .icon-menu-color {
  -webkit-transition: fill 0.3s linear;
  -o-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}

.icon:hover .icon-menu-color {
  fill: #000000;
}

.icon-close-color {
  fill: #797979;
}

.icon-close .icon-close-color {
  -webkit-transition: fill 0.3s linear;
  -o-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}

.icon-close:hover .icon-close-color {
  fill: #000000;
}

.btn-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem 1rem;
}
@media only screen and (min-width: 64em) {
  .btn-search {
    padding: 0.5rem 1rem;
  }
}
.btn-search input {
  border: none;
  outline: none;
  background-color: transparent;
}
.btn-search input:focus {
  font-weight: 500;
  color: #797979;
}
.btn-search label svg {
  margin-top: 10px;
}

.btn-search:hover .btn-search-hover {
  fill: #81A385;
}

.btn-order label {
  font-family: Quicksand, sans-serif;
  font-style: normal;
  font-weight: Bold;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
.btn-order select {
  font-family: Quicksand, sans-serif;
  font-style: normal;
  font-weight: Bold;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: white;
  border: none;
  color: #797979;
  outline: none;
  font-weight: normal;
}
.btn-order select:focus {
  outline: 1px solid #F7F7F7;
}

.bg {
  background: #f7f7f7;
  border: 1px solid #f7f7f7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
}

.card-icon-shopping .card-icon-shopping-hover {
  -webkit-transition: fill 0.3s linear, stroke 0.3s linear;
  -o-transition: fill 0.3s linear, stroke 0.3s linear;
  transition: fill 0.3s linear, stroke 0.3s linear;
}

.card-icon-shopping:hover .card-icon-shopping-hover {
  fill: #81A385;
  stroke: #81A385;
}

.section-acount {
  width: 100vw;
  height: calc(100vh - 4rem);
}
@media only screen and (min-width: 64em) {
  .section-acount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.section-acount-container {
  height: 100%;
  display: grid;
  grid-template-rows: 6rem 1fr;
}
@media only screen and (min-width: 64em) {
  .section-acount-container {
    width: 30%;
    height: 70%;
    grid-template-rows: 4rem 1fr;
  }
}
.section-acount-container .subtitle {
  display: flex;
  align-items: center;
  gap: 0rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.section-acount-container .form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/*# sourceMappingURL=acount.css.map */
