@use 'values' as *;
@use 'utilities' as *;
@use 'mixins' as *;

// <!-- account.scss -- formulario acount--><!-- account.scss -- formulario acount-->
.section-acount {
	width: 100vw;
	height: calc(100vh - $bar-mobil-height);
	@include desktop() {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}
.section-acount-container {
	height: 100%;
	display: grid;
	grid-template-rows: calc($bar-mobil-height + ($bar-mobil-height / 2)) 1fr;
	@include desktop() {
		width: 30%;
		height: 70%;
		grid-template-rows: $bar-mobil-height 1fr;
	}
	.subtitle {
		@include centrarX(0rem);
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.form {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
}
