@use 'values' as *;
@use 'utilities' as *;
@use 'mixins' as *;


//  GENERALES
.text-title {
	@extend %text-title-login;
}
.text-paragraph {
	@extend %text-paragraph-login;
}
.btn-sign {
	@include btn-sign;
}
.btn-log {
	@include btn-log;
}
.input {
	@include input;
	@extend %text-input;
}
label {
	@extend %text-label;
}

.form-link {
	@extend %text-form-link;
}
.icon-email {
	width: 153px;
	height: 153px;
	border-radius: 50%;
	background: rgba(216, 216, 216, 0.5);
	mix-blend-mode: normal;
	padding: 1.5rem;
	svg {
		width: 100%;
		height: 100%;
	}
}
.btn-link-resend {
	@include btn-link-resend;
}
.container-1 {
	padding: 1rem;
	@include desktop(){
		padding: 0rem 2rem;

	}
}
//------------------contenido-----------------//

.section-login {
	width: 100vw;
	height: calc(100vh - $bar-mobil-height);
	@include desktop() {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	@include desktop() {
	}
}
.section-login-container {
	height: 100%;
	@extend %display-grid;
	grid-template-rows: $bar-mobil-height $bar-mobil-height 1fr $bar-mobil-height;
	@include desktop() {
		width: 40%;
		height: 80%;
		grid-template-rows: 1fr $bar-mobil-height;
	}
	.logotipo {
		justify-self: center;
		@include desktop() {
			display: none;
		}
	}
}
.section-login-btn-close {
	justify-self: end;
	@include desktop() {
		display: none;
	}
}

.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	.icon-email {
		margin: auto;
	}
}
.form-row {
	display: flex;
	flex-direction: column;

	gap: 1rem;
	div {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	p {
		// padding: 0rem 2.5rem;
	}
	input,
	label {
		width: 100%;
	}
}
// main {
// 	height: calc(100vh - $bar-mobil-height);
// }
// .login {
// 	height: 100%;
// 	@include desktop() {
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 	}
// }
// .login-container {
// 	width: 100%;
// 	height: 100%;
// 	display: grid;
// 	grid-template-columns: minmax(200px, 500px);
// 	grid-auto-rows: 80% 20%;
// 	justify-content: center;
// 	align-content: space-between;
// 	align-items: flex-end;
// 	@include desktop() {
// 		height: 25rem;
// 	}
// }

// label {
// 	@include text1();
// }
// .input {
// 	@include input(2.6rem);
// 	border: none;
// 	background-color:
// 	gray-alpha-color;
// 	@include text2();
// 	color: $gray-color;
// }

// .submit {
// 	@include input(59px);
// 	transition: background-color 0.3s linear, background-color 0.3s linear;
// }
// .form-login:first-child {
// 	align-self: start;
// }
// .form-login {
// 	width: 100%;
// 	@include flex-col();
// 	justify-content: center;
// 	align-items: center;
// 	gap: 2rem;
// 	position: relative;

// 	& > div.logotipo{
// 			@include desktop(){
// 				 display: none;

// 			}
// 		}

// 	& > div {
// 		gap: 0.5rem;
// 		width: 100%;
// 		@include flex-col();
// 		.log-in {
// 			font-family: $font1;
// 			background-color: $green-alpha-color;
// 			color: $white-color;
// 			&:hover {
// 				background-color: $green-hover-color;
// 			}
// 		}

// 		.sing-up {
// 			input[type='submit'] {
// 				background-color: $green-alpha-color;
// 			}
// 			border: 2px solid $gray-alpha-color;
// 			background-color: $white-color;
// 			color: $green-alpha-color;
// 			&:hover {
// 				color: $white-color;
// 				background-color: $green-hover-color;
// 			}
// 		}

// 		small,
// 		a {
// 			text-align: center;
// 		}
// 		a:hover {
// 			color: $green-hover-color;
// 		}
// 	}

// 	.icon-close {
// 		position: absolute;
// 		top: 0;
// 		right: 0;
// 		display: inline-block;
// 		height: 12px;
// 		width: 12px;
// 		align-self: flex-end;

// 		img {
// 			height: 100%;
// 		}
// 	}
// 	.info-password {
// 		@include info-contenido();
// 		padding: 0;
// 		@include desktop(){
// 			padding: 0 2rem;

// 		}
// 	}
// 	.info-email {
// 		@include info-contenido();
// 		padding: 0.5rem;
// 	}
// }
// .log-in {
// 	font-family: $font1;
// 	background-color: $green-alpha-color;
// 	color: $white-color;
// 	&:hover {
// 		background-color: $green-hover-color;
// 	}
// }
// .sing-up {
// 	border: 2px solid $gray-alpha-color;
// 	background-color: $white-color;
// 	color: $green-alpha-color;
// 	&:hover {
// 		color: $white-color;
// 		background-color: $green-hover-color;
// 	}
// }
// small {
// 	@include text1();
// 	color: $green-alpha-color;
// 	text-align: center;
// 	font-weight: 500;
// 	font-weight: 500;
// }
// .icon-email {
// 	@include flex-col;
// 	justify-content: center;
// 	align-items: center;
// 	div {
// 		width: 153px;
// 		height: 153px;
// 		border-radius: 50%;
// 		background-color: $gray-alpha-color;
// 		overflow: hidden;
// 		img {
// 			padding: 2rem;
// 			width: 100%;
// 			height: 100%;
// 			object-fit: fill;
// 			object-position: center;
// 		}
// 	}
// }
// .logotipo {
// 	height: 43px;
// 	margin: 2rem;
// 	img {
// 		height: 100%;
// 	}
// 	@include desktop() {
// 		margin: 0;
// 	}
// }
