@use  'values'as *;
@use  'mixins'as *;
//GENERALES

.text-gmail{
    @include text-gmail;
    
}
//--------menu1-------//

.section-home1 {
    position: relative;
    width: 100vw;
    height: calc(100vh - 4rem);
}

.section-home1-container {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2rem;
}
.menu-categoria {
    padding: 2rem;

}
.menu-categoria-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.menu-categoria-row {
    display: flex;
    flex-direction: column;
    &:last-child{
        mix-blend-mode: normal;
        
        border-top: 1px solid #979797;
    }
    &:first-child{
        mix-blend-mode: normal;
       
        border-top: none;
    }
}
.menu-categoria-link {
    padding: 1rem 0;
	font-family: $font1;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
}
.section-home1-btn-close{
    position: absolute;
    top: .5rem;
    right: .5rem;
}
.home2-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2rem;
}
