@use  'values'as *;
@use  'utilities'as *;
@use  'mixins'as *;

//GENERALES
.card-price {
	font-family: $fontRoboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	/* identical to box height */

	text-align: center;

	color: #404040;
}
.card-name {
	font-family: $font1;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */

	color: #797979;
	word-break: break-all;
}

//-------------------PRODUCTO DETATLS ------------------//
section.sec-modal-add-card {
	width: 100vw;
	position: fixed;
	top: calc($bar-mobil-height + $bar-mobil-height - 1rem);
	height: calc(100vh - $bar-mobil-height - $bar-mobil-height + 1rem);
	background-color: $white-color;
	
	opacity: 0;
	// opacity: 1;
	pointer-events: none;
	background-color: rgb(255, 255, 255);
	
	.btn-modal-close {
		position: absolute;
		top: 0.5rem;
		left: 0.5rem;
		width: 40px;
		height: 40px;
		background: #ffffff;
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		.icon-close-color {
			fill: #C7C7C7;;
			&:hover {
				fill: red;
			}
		}
	}
	@include desktop() {		
		width: 384px;
		right: 0;
		top: calc($bar-mobil-height);
		height: calc(100vh - $bar-mobil-height);		
	}
}
.sec-modal-add-card-container {
	display: grid;
	grid-template-rows: 14rem calc(100vh - 22rem);
	@include desktop() {
		width: 100%;
		right: 0;
	}
	@include desktop (){
		grid-template-rows: 14rem calc(100vh - 22rem);

	}
}

.modal-add-card-carousel {
	overflow: hidden;
	background-color: black;
	width: 100%;
	width: inherit;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 0.741);
	box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 0.741);
	border-radius: 0px 0px 20px 20px;
	overflow: hidden;
	mix-blend-mode: normal;
	img {
		-o-object-fit: cover;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}
.modal-add-card-info {
	padding: 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	font-family: $fontRoboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	color: #404040;

	P {
		text-align: justify;
		font-family: $font1;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
	}
}
//funcion click
section.sec-modal-add-card:target {
	pointer-events: auto;
	opacity: 1;
}
.btn-add-card {
	@include btn-log();
	display: flex;
	align-items: center;
	margin: 0;
	gap: .5rem;
	font-family: $font1;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: white;
}
.modal-add-card-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 1rem;
	div {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 0.2rem;
		.card-price {
			font-family: $fontRoboto;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 21px;
			/* identical to box height */

			color: #404040;
		}
		.card-name {
			font-family: $font1;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 22px;
			/* identical to box height */

			color: #797979;
		}
	}
}
