@use 'values' as *;
@use 'mixins' as *;

//GENERAL
.subtitle-shopping {
	font-family: $font1;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	text-align: center;

	color: #000000;
}
//------------INFO---------
section.sec-modal-add-card.shopping-card {
	width: 100vw;
	position: fixed;
	top: calc($bar-mobil-height + $bar-mobil-height - 1rem);
	height: calc(100vh - $bar-mobil-height - $bar-mobil-height + 1rem);
	overflow: hidden;
	overflow-y: scroll;
	box-shadow: $box-shadow2;
	@include desktop() {
		width: 384px;
		right: 0;
		top: calc($bar-mobil-height);
		height: calc(100vh - $bar-mobil-height);
	}
}
.shopping-card-container {
	display: flex;
	height: auto;
	// padding: 3.5rem 1rem 1rem 1rem;
	flex-direction: column;
}
.shopping-card-row {
	position: relative;
	width: 100%;
	display: grid;
	z-index: 1;

	grid-template-columns: auto 1fr auto;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	a {
		margin-top: 6px;
	}
	&:first-child{
		margin-top: 2rem;
	}
	&:hover {
		background: #d8d8d8;
		mix-blend-mode: normal;
		z-index: 20;
		
	}
	&:hover::after {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		top: 0;		
	// color: #d8d8d8;
		background-image: linear-gradient(90deg, rgba(216, 216, 216, 0.13) 25%,#d8d8d8 25% 91%, rgba(216, 216, 216, 0.13) 91%);
		z-index: 5;	

	}
	&:hover::before {
		position: absolute;
		content: "REMOVED FROM CART";
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		width: 200px;
		height: 20px;
		z-index: 10;

		font-family: $font1;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		/* identical to box height */
		
		text-align: center;
		
		color: #404040;
		// color: black;
		
		mix-blend-mode: normal;

	}
}
.shopping-card-img {
	width: 76px;
	height: 76px;
	background: #d8d8d8;
	border-radius: 20px;
	background-image: var(--shopping-card-img);
	background-position: center;
	background-size: cover;
}
.shopping-card-row-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.shopping-card-total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	gap: 1rem;
	height: 76px;
	background: #f7f7f7;
	border-radius: 10px;
}
.menu-header-phone-shopping {
	padding: 0.5rem 1rem;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	gap: 2rem;
	box-shadow: 0px 2px 4px rgb(0 0 0 / 5%);
	@include desktop() {
		padding: 0.5rem 2rem;
	}
	.logotipo {
		justify-self: start;
	}
}
section.sec-modal-add-card .btn-modal-close {
	box-shadow: 0px 0px 4px transparent;
	border-radius: 0;
}
