@use 'values';
@use 'mixins' as *;
@use 'general' as *;
@use 'utilities' as *;
@use 'browser-bar.scss' as *;

@use 'acount.scss' as *;
@use 'menu.scss' as *;
@use 'home-1.scss' as *;
// @use 'product-details.scss' as *;

@use 'menu-1.scss' as *;
@use 'mobile-menu.scss' as *;

@use 'productos.scss' as *;

@use 'admin.scss' as *;
@use 'mayorista.scss' as *;

@use 'whatsapp' as *;

@use 'footer' as *; 

